*{ 
    margin: 0; 
    padding: 0;
}
body{
    font-family:'Poppins', sans-serif;
}
.cabecalho{
    background-color: rgb(13, 68, 8);
    color: rgb(300, 300, 300);
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.cabecalho-imagem{
    width: 300px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px; 
    font-size: 30px;
} /* secao lojas*/
.lojas{
    background-color: #a9a9a9;
}

.img-principal{
    width: 200px;
}
.sobrepalmeiras{
color: #3B0050;
text-align: center;
padding: 50px;
font-size: 25px;
}

.sobre-o-palmeiras{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-o-palmeiras-conteúdo{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.sobre-o-palmeiras-título{
    text-align: center;
   
}

.sobre-o-palmeiras-texto-um{
    width: 25px;
}
.jogadores{
    font-size: 20px;
    text-decoration: underline;
    display: grid;
    grid-template-columns: 33% 33% 33% ;

    
}